*{
    width: 300px;
    margin: 50px auto;
    padding: 10px;
}

.calculator{
    background-color: rgb(91, 236, 229);
    justify-items: grid;
}

.button{

    width: 30px;
    padding: 10px;
    margin: 5px px 1%;
    border: none;
    border-radius: 5px;
    background-color: rgb(12, 136, 245);
}